<div class="container-fluid pt-5">
  <div class="row d-flex justify-content-center">
    <div class="login-box">
      <div class="card card-danger text-center">
        <div class="card-header">
          <h3>Acessar</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-12">
                <div class="form-group mb-4">
                  <label for="email">Usuário</label>
                  <input type="text" class="form-control form-control-sm" id=" email" name="email"
                    [(ngModel)]="usuario.email" required />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group mb-4">
                  <label for="senha">Senha</label>
                  <input type="password" class="form-control form-control-sm" id="senha" name="senha"
                    [(ngModel)]="usuario.senha" required />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button type="button" class="btn btn-primary btn-block mb-2" (click)="entrar(usuario)">
                  Entrar
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button type="button" class="btn btn-dark btn-block mb-2" (click)="criarConta(usuario)">
                  Criar Conta
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button type="button" class="btn btn-primary btn-block mb-2" (click)="entrarComFacebook()">
                  Entrar com Facebook
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>